body{
    background-color: rgb(210, 210, 210);
}input.box1{
    
    width: 200px;
}
input.box2{
    
    width: 200px;
}
h1{
    font-size: 30px;
    background-color: rgb(124, 235, 255);
    
}
div.main{
    padding-top: 5%;
    height: 400px;
    margin-top: 0px;
    text-align: right;
    padding-right: 43%;
    
}
div.errMessage{
    color: red;
}